.error {
    border: 2px solid red;
}

.neutral {
    box-shadow: 0px 1px 8px 0px #e6b115;
}

.positive {
    box-shadow: 0px 1px 8px 0px #078C1C;
}

.negative {
    box-shadow: 0px 1px 8px 0px #8C0D00;
}

.active {
    border-bottom: 2px solid #000;
}

.last_search_title {
    font: 700 30px/1 "Roboto", sans-serif;
    line-height: 45px;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 60px;
}

.bold {
    font-weight: bold;
}

.main__form-submit-div {
    cursor: pointer;
    padding: 15px 36px;
    position: relative;
    border: 1px solid #617959;
    background: #617959;
    color: #fff;
    font: 400 20px/1 "Roboto", sans-serif;
    text-align: center;
    transition: 200ms all;
    text-transform: unset;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block
}

.main__form-submit-input {
    cursor: pointer;
    padding: 10px 30px;
    position: relative;
    border: 1px solid #617959;
    background: #617959;
    color: #fff;
    font: 400 20px/1 "Roboto", sans-serif;
    text-align: center;
    transition: 200ms all;
    text-transform: unset;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block
}

.main__div-submit {
    box-sizing: border-box;display: flex;
    align-items: center;
    justify-content: center;
}